.container {
  width: 600px;
  height: 500px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

header {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
}

.choice {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
}

h4 {
  margin: auto;
  justify-content: inherit;
  font-size: 25px;
  color: #1b4965;
}

.options {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.level {
  background: #fcfcfc;
  border: none;
  border-radius: 10px;
  margin-top: -20px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 20px;
  font-family: "Fredoka One", cursive;
  cursor: pointer;
}

.level:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

@media screen and (max-width: 500px) {
  * {
    margin: 0;
    padding: 0;
  }

  .container {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  header {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
  }

  .choice {
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
  }

  h4 {
    margin: auto;
    font-size: 20px;
    color: #1b4965;
    text-align: center;
  }

  .options {
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }

  .level {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background: #fcfcfc;
    font-family: "Fredoka One", cursive;
    cursor: pointer;
  }
}
