canvas {
  border-radius: 10px;
}

.snakeboard-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.scores {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  canvas {
    margin: auto;
    border-radius: 15px;
  }
}
